.content{
    max-width: 90%;
}

#room header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#room header .buttons{
    display: flex;
}

#room header .buttons .button:nth-child(1){
    margin-right: .8rem;
    padding: 1.3rem 1.6rem;
}

#room header .buttons .button:nth-child(1) img{
    margin-left: 1.16rem;
    width: 2rem;
    height: 2rem;;
}
#room header .buttons .button:nth-child(2){
    padding: 1.3rem 3.2rem;
}
#room header .buttons .button:nth-child(2) img{
    margin-right: 1.16rem;
    width: 2rem;
    height: 2rem;
}

footer img{
    margin-right: .6rem;
}

footer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: 'Poppins', sans-serif;
    color: var(--icons-details);
    font-weight: 400;
    font-size: 1.4rem;
}

#question-form form{
    border: .2rem solid var(--grey-blue);
    padding: 1.6rem;
    border-radius: 0 .8rem .8rem .8rem ;
    margin-bottom: 1.6rem;
}

#question-form form textarea{
    background: transparent;
    width: 100%;
    outline: none;
    resize: none;
}

#question-form form textarea::placeholder{
    color: var(--grey-blue);
}

#question-form form button{
    padding: .8rem 2.4rem;
    height: 4rem;

}
footer div{
    display: flex;
    align-items: center;
}

.question-wrapper{
    background: var(--light-blue);
    border-radius: 0 .8rem .8rem .8rem ;
    padding: 2.4rem;
    margin-bottom: .8rem;
}
.question-wrapper .question-content{
    display: flex;
    align-items: flex-start;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--black);
}

.question-wrapper .actions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: .8rem;
}

.question-wrapper .actions > a{
    display: flex;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    color: var(--grey-dark);

}

.question-wrapper .question-content .user{
    background: var(--blue);
    clip-path: circle();
    padding: 1.4rem;
    margin-right: 1.6rem;
}

.question-wrapper .question-content .user > img{
    width: 2.4rem;
    height: 2.4rem;
}

.question-wrapper .question-content p{
    word-break: break-word;
    min-height: 5.2rem;
    display: flex;
    align-items: center;
}

.question-wrapper .actions > a > img{
    width: 2.4rem;
    height: 2.4rem;
    margin-right: .8rem;
}
.question-wrapper .actions > a:nth-child(2){
    margin-left: 2.4rem;
}

.question-wrapper.read{
    background: var(--grey-read);
}

.question-wrapper.read .question-content .user{
    background: var(--grey-blue);
}

.no-questions{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-top: 5.2rem;
}

.no-questions p{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--black);
    margin-bottom: 1.3rem; 
    margin-bottom: 1.2rem;
}

.no-questions p + p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: var(--grey-dark);
    line-height: 1.9rem;
}